//============================
//変数
//===============================
//body基本設定
$font_size:16px;
$body_font_family:"Noto Sans CJK JP Light", "游ゴシック体", "Yu Gothic", YuGothic, "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", sans-serif;
$color:#333;
$bg:#fff;
$link:#00f;  //リンクカラー


//$width:1052px;	/*コンテンツ幅*/


//色
$color02:#fff;
$color03:#ff5722;	//赤
$color_sub:#999;	//

$bg01:#ffffff;	//ベース
$bg02:#ff9800;	//差し色オレンジ
$bg03:#ff4747;	//差し色赤
$bg04:#e0e0e0;
$bg05:#f5f5f5;//薄い灰色


//フォント
$font_small:14px;
$font_middle:16px;
$font_large:24px;


//その他
$margin:0 2%;
$padding:10px 12px;
$padding02:10px 16px;
$bg_tit:#e3e3e3;
$small: 768px;


//flex設定
@mixin flex00 {
    display:-webkit-box;/*--- Androidブラウザ用 ---*/
    display:-ms-flexbox;/*--- IE10 ---*/
    display:-webkit-flex;/*--- safari（PC）用 ---*/
    display:flex;
}

@mixin flex {
    display:-webkit-box;/*--- Androidブラウザ用 ---*/
    display:-ms-flexbox;/*--- IE10 ---*/
    display:-webkit-flex;/*--- safari（PC）用 ---*/
    display:flex;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-justify-content: space-between; /* Safari */
	justify-content:         space-between;
}


//メディアクエリ設定
$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 1119px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

