.utl{
	text-align: left;
}
.utc{
	text-align: center;
}
.utr{
	text-align: right;
}
.ustrong{
	font-weight: bold;
}

/*独自*/
//スマホのみに効く改行
.uspbr{
	display: none;
	@media screen and (max-width: 768px) {
		display: block;
	}
}



// ＰＣ・ＳＰ表示非表示
// ===========================================
//ＰＣで表示（ＳＰ非表示）
.dpc{
	display: block !important;
	@include mq() { // 引数を省略（初期値はmdの768px）
		display: none !important;
	}
}

img.dpc{
	display: inline-block !important;
	@include mq() { // 引数を省略（初期値はmdの768px）
		display: none !important;
	}
}

//SPで表示（ＰＣ非表示）
.dsp{
	display: none !important;
	@include mq() { // 引数を省略（初期値はmdの768px）
		display: block !important;
	}
}

img.dsp{
	display: none !important;
	@include mq() { // 引数を省略（初期値はmdの768px）
		display: inline-block !important;
	}
}



//clearfix
.clearfix:after {
content: "";
clear: both;
display: block;
}
