@charset "utf-8";
///* ==========================================================================
//   見出し 大
//   ======================================================================= */
///* -----------------------------------------------------------------
//   見出し 中
//   -------------------------------------------------------------- */
//
///* 見出し
//-------------------------------------------------------------- */

/*-----------------------------------------------------------------
  目次
  --------------------------------------------------------------
//tool:外部読み込み
Setting：変数及びmixin
//reset：基本外部cssを読み込む
Base：このサイト用の基本css
Layout:サイト共通で使われるもの。ヘッダ、フッタ等。
	1:header
	2:footer
page:ページ別
	1:top
module:汎用モジュールcss
utility：ユーティリティ
*/



///* ==========================================================================
//   Setting
//   ======================================================================= */
@import "../scss/_settings.scss";


/* ==========================================================================
   Base
   ======================================================================= */
@import "../scss/_base.scss";


/* ==========================================================================
   Layout
   ======================================================================= */
@import "../scss/_layout.scss";


/* ==========================================================================
   page
   ======================================================================= */
/*---------------------------------------------
 #top_main:トップページ
 -----------------------------------------------*/
/*top_main 
----------------------------*/



/* ==========================================================================
   module：汎用モジュール
   ======================================================================= */
//ページの大枠
.u_inner{
	width: 940px;
	margin: 0 auto;
	@media screen and (max-width: 768px) {
		width:auto;
	}
}


/* ==========================================================================
   utility：汎用クラス
   ======================================================================= */
@import "../scss/_utility.scss";
